<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>profile</ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- 
    <h1 text-center>Ionic</h1>
    <p text-center>Existing user? Sign in here.</p>

    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
        <div formGroupName="user">
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input id="email" autocapitalize="on" type="email" formControlName="email" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input id="password" type="password" formControlName="password" required>
                </ion-input>
            </ion-item>
        </div>
        <ion-grid>
            <ion-button expand="block" type="submit" [disabled]="!signInForm.valid">
                <strong>Log in</strong>
            </ion-button>
            <p>
                <a [routerLink]="['/register']">Or new user? Create an account</a>
            </p>
        </ion-grid>
    </form> -->

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
     
      </ion-buttons>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     
        <form style="    margin-top: 100px;" [formGroup]="signInForm" (ngSubmit)="submitSignInForm()" >
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email"  type="email" required></ion-input>
            </ion-item>
        
            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" required></ion-input>
            </ion-item>
        
            <ion-row>
              <ion-col>
                <ion-button type="submit" [disabled]="!signInForm.valid"   expand="block">Sign In</ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
              </ion-col>
              <ion-col size="12">
                <ion-button [routerLink]="['/register']" routerLinkActive="router-link-active"  color="danger" expand="block">Sign up</ion-button>
              </ion-col>
            </ion-row>
          </form>
          
 
  </ion-content>